<header class="app-header">
    <nav class="nav-container">
        <div class="brand">
            <h1>SERVICIO MÉDICO DE APOYO</h1>
            <span>Medicina Física y Rehabilitación</span>
        </div>
        
        <ul class="nav-menu">
            <li><a href="#">
                <i class="fa-solid fa-shield-heart"></i>
                Consultar Seguro
            </a></li>
            <li><a href="#">
                <i class="fa-solid fa-calendar-days"></i>
                Calendario
            </a></li>
            <li>
                <button class="theme-toggle">
                    <i class="fa-solid fa-moon"></i>
                    Tema Blanco / Tema Oscuro
                </button>
            </li>
        </ul>
    </nav>
</header>