<aside class="sidebar">
  <nav class="sidebar-nav">

    <a routerLink="/home" routerLinkActive="active">
      <i class="fa-solid fa-house"></i>
      <span>Inicio</span>
    </a>

    <a routerLink="/listapacientes" routerLinkActive="active">
      <i class="fa-solid fa-shield-heart"></i>
      <span>Lista de Pacientes</span>
    </a>

    <a routerLink="/nuevopacientes" routerLinkActive="active">
      <i class="fa-solid fa-shield-heart"></i>
      <span>Nuevo Paciente</span>
    </a>

    <a routerLink="/calendario" routerLinkActive="active">
      <i class="fa-solid fa-calendar-days"></i>
      <span>Calendario</span>
    </a>

    <a routerLink="/configuracion" routerLinkActive="active">
      <i class="fa-solid fa-gear"></i>
      <span>Configuración</span>
    </a>

  </nav>
</aside>
