<section class="patients-container">

  <!-- HEADER -->
  <div class="patients-header">
    <h2>Gestión de Pacientes</h2>

    <button class="btn-primary" (click)="irAgregarPaciente()">
      <i class="fa-solid fa-user-plus"></i>
      Nuevo Paciente
    </button>
  </div>

  <!-- FILTER -->
  <div class="patients-filter">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input
      type="text"
      placeholder="Buscar por Nombre, DNI o Historia Clínica"
      (input)="buscarPaciente($event.target.value)"
    />
  </div>

  <!-- TABLE -->
  <div class="table-wrapper">
    <table class="patients-table">
      <thead>
        <tr>
          <th>#</th>
          <th>HC</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Nombres</th>
          <th>DNI</th>
          <th>Fecha Nac.</th>
          <th>Edad</th>
        </tr>
      </thead>

      <tbody>

        <!-- LISTA PAGINADA -->
        <tr
          *ngFor="let p of pacientesPaginados; let i = index"
          (click)="irHistoriaClinica(p.hc)"
          style="cursor: pointer;"
        >
          <td>{{ (paginaActual - 1) * pageSize + i + 1 }}</td>
          <td>{{ p.hc }}</td>
          <td>{{ p.apaterno }}</td>
          <td>{{ p.amaterno }}</td>
          <td>{{ p.nombre }}</td>
          <td>{{ p.dni }}</td>
          <td>{{ p.nacimiento | date:'dd/MM/yyyy' }}</td>
          <td>{{ calcularEdad(p.nacimiento) }}</td>
        </tr>

        <!-- CUANDO NO HAY DATOS -->
        <tr *ngIf="pacientes.length === 0">
          <td colspan="8" style="text-align: center; padding: 20px;">
            No hay pacientes registrados
          </td>
        </tr>

      </tbody>
    </table>
  </div>

  <!-- PAGINACIÓN REAL -->
  <div class="pagination" *ngIf="totalPaginas > 1">

    <button
      class="page-btn"
      (click)="cambiarPagina(paginaActual - 1)"
      [disabled]="paginaActual === 1">
      «
    </button>

    <button
      class="page-btn"
      *ngFor="let p of paginas()"
      (click)="cambiarPagina(p)"
      [class.active]="p === paginaActual">
      {{ p }}
    </button>

    <button
      class="page-btn"
      (click)="cambiarPagina(paginaActual + 1)"
      [disabled]="paginaActual === totalPaginas">
      »
    </button>
  </div>
</section>